<div class="row">
	<div class="small-6 small-centered columns">
		<h1>Panel Alumnos</h1>
		<br>
		<hr>

		<div><a href="admin/alumnos">Alumnos</a></div>
		<div><a href="admin/DASU">DASU</a></div>
	</div>
</div>